.explore-page {

  .date-picker {
    margin-left: 20px;
    max-width: 100px;
    hr {
      display: none;
    }
  }
  display: flex;
  height: 100%;
  .time-tabs {
    width: 100%;
    align-self: center;
  }
  .content{
    margin-top: 20px;
    flex: 1;
    margin-bottom: 20px;
    display: flex;
    .map-view {
      margin-left: 15px;
      flex: 2;
    }
    .left-panel {
      min-width: 300px;
      display: flex;
      flex: 1;
      overflow-x: hidden;
      overflow-y: auto;
      height: 100%;
      flex-direction: column;
    }
  }
  flex-direction: column;
}