.add-destination-form {
  display: flex;
  flex-direction: column;
  .material-icons {
    margin-right: 5px;
    transform: translateY(4px);
  }
  .top {
    flex: 1;
    display: flex;
    align-items: flex-end;
    .material-icons {
      transform: translateY(-12px);
    }
  }

  .middle {
    .date-wrapper {
      display: flex;
      align-items: flex-end;
      .material-icons {
        transform: translateY(-12px);
      }
    }
    flex: 1;
    display: flex;
    justify-content: space-between;
  }

  .bottom {
    .friends-wrapper {
      display: flex;
      align-items: flex-end;
      .material-icons {
        transform: translateY(36px);
        color: #e0e0e0;
        align-self: flex-start;
      }
    }
    flex: 1;
  }
}