.profilePage {
  height: 100%;
  .panel-heading {
    background-color: white;
    border: none;
  }
  .trip-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    .trip-header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      .trip-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin-bottom: 10px;
        .trip-dates {
          font: 400 12px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
        }

        .trip-destinations {
          font: 500 20px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
          margin-bottom: 5px;
        }
      }
    }
    .trip-info {
      flex: 1;
      .right-dashboard {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-right: 20px;
        .trip-schedule {
          flex: 1;
          flex-direction: column;
          display: flex;
          .panel-body {
            flex: 1;
            display: flex;
          }
        }
        .destinations-list {
          cursor: pointer;
          background-color: white;
          margin-bottom: 20px;
          .destination-list-item {
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            display: flex;
            align-items: center;
            padding: 10px;
            .city-image {
              width: 50px;
              height: 50px;
              border-radius: 35px;
              margin-right: 10px;
            }
            .destination-info {
              flex: 1;
              .title {
                color: rgba(49, 64, 73, 0.69);
                font-weight: 700;
                font-size: 16px;
              }
            }
            .destination-dates {
              color: rgba(49, 64, 73, 0.69);
              font-weight: 700;
            }
          }
        }

        .friends-panel {
          .panel-body {
            padding-left: 10px;
            padding-bottom: 10px;
          }
        }
      }
      .top-dashboard {
        flex: 1;
        display: flex;
        flex-direction: column;
        .panel {
          display: flex;
          flex-direction: column;
          flex: 1;
          margin-bottom: 20px;
          .panel-body {
            flex: 1;
            display: flex;
          }
        }
        .map-view {
          border: 1px solid #dbdbdb;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        }
      }

      flex: 1;
      display: flex;
      flex-direction: row;
      .header {
        text-align: center;
        font-size: 25px;
        margin-bottom: 15px;
      }
      .content {
        flex: 1;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .links {
        padding-right: 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        //padding-top: 50px;
        a {
          font-size: medium;
          color: rgba(0, 0, 0, 0.6);
          font-weight: 700;
          padding: 10px 0px 10px 0px;
          &.active {
            color: rgba(48, 99, 142, 0.68);
          }
        }
      }
      .trip-editor {
        .form-actions {
          width: 100%;
          button {
            margin-left: 10px;
            float: right;
          }
        }
      }
      .modal-container {
        position: relative;
        .modal, .modal-backdrop {
          position: absolute !important;
        }
      }
      .modal-container .modal, .modal-container .modal-backdrop {
        position: absolute;
      }
      .modal-content {
        border-radius: 10px;
        padding: 10px;
        width: 200px;
      }
      .modal-header {
        padding: 5px;
        h4 {
          font-weight: bold;
          font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
          font-size: 12px;
        }
      }
      .calendar {
        flex: 1;
      }
    }
  }
}
