.createTripPage {
  display: flex;
  flex-direction: row;
  height: 100%;
  .page-quickTripWizard
  {
    width: 280px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    margin-right: 10px;
  }
  .page-mapView {
    flex: 1;

  }
}