.menu-wrapper {
    top: 50px;
    margin-left: -20px;
    width: 220px;
    transition: max-width 250ms linear;
    &.menu-opened {
        max-width: 220px;
        .main-navigation {
            transform: translateX(0px);
            transition: transform 250ms linear;
        }
    }
    z-index: 1000;
    max-width: 100px;
    position: relative;
    .main-navigation {
        transition: transform 250ms linear;
        transform: translateX(-220px);
        position: fixed;
        top: 70px;
        left: 0;
        opacity: 0.8;
        display: flex;
        min-width: 130px;
        flex-direction: column;
        justify-content: center;
        align-self: flex-start;
        width: 175px;
        a {
            font-weight: 500;
            height: 48px;
            button {
                text-align: left !important;
                padding-left: 7px !important;
                width: 100%;
            }
            span {
                text-transform: inherit !important;
                color: rgba(0, 0, 0, 0.7) !important;
            }


            &.active {
                span {
                    color: rgb(0, 188, 212) !important;
                }
            }
        }
    }
}