@import '../../resources/styles/main.less';

html {
  font-size: 14px;
  overflow-y: scroll;
  height: 100%;
  background-color: @color-bg-page;
  

  body {
    height: 100%;
    #root {
      height: 100%;
      .root-page {
        height: 100%;
        display: flex;
        flex-direction: column;
        .page-content {
          max-width: ~"calc(100% - 200px)";
          position: relative;
          flex: 1;
        }
      }
    }
  }
}
h1 {
  font-size: 20px;
}

.root-page {
  background-color: #eaedf1;
  padding-left: 0px;
}

.page-content-wrapper {
  flex: 1;
  transition: padding-top 0.1s ease;
  transition-delay: 0.1s;
  //padding-top: 80px;
  margin-top: 20px;
  margin-right:20px;
  margin-left: 20px;
  &.with-page-links {
    //padding-top: 130px;
  }
  .main-navigation {
    margin-right: 10px;
  }
}

.label {
  color: #55595c;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

.city-image {
  background-image: url("../../resources/images/cities/barcelona.jpg");
}

.barcelona {
  background-image: url("../../resources/images/cities/barcelona.jpg");
}

.new_york {
  background-image: url("../../resources/images/cities/new_york.jpg");
}

.paris {
  background-image: url("../../resources/images/cities/paris.jpg");
}

.rome {
  background-image: url("../../resources/images/cities/rome.jpg");
}

.tokyo {
  background-image: url("../../resources/images/cities/tokyo.jpg");
}