@import '../../resources/styles/main.less';

html {
  font-size: 14px;
  overflow-y: scroll;
  height: 100%;
  background-color: @color-bg-page;
  .btn-primary {
    background-color: rgba(61, 166, 196, 0.75);
    border-color: rgba(61, 166, 196, 0.75);
  }

  body {
    height: 100%;
    #root {
      height: 100%;
      .root-page {
        height: 100%;
        display: flex;
        flex-direction: column;
        .page-content {
          postion: relative;
          flex: 1;
        }
      }
    }
  }
}
h1 {
  font-size: 20px;
}

.root-page {
  background-color: @color-bg-page;
}

.page-content-wrapper {
  flex: 1;
  padding-top: 80px;
  &.with-page-links {
    padding-top: 130px;
  }
}

.label {
  color: #55595c;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}