.app-nav-bar {
  flex: 1;
  display: flex;
  align-items: center;
  .separator {
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    height: 30px;
    width: 1px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .left-nav-bar {
    font-size: 22px;
    display: flex;
    flex: 1;
    align-items: center;
    margin-right: 40px;
    .page-title {
      color: white;
      margin-right: 45px;
      font-weight: 300;
      font-size: 22px;
      width: 75px;
    }
    .search {
      position: relative;
      max-width: 620px;
      flex: 1;
      border-radius: 5px;
      border: 1px solid transparent;

      .geo-suggest-wrapper {
        border: none;
        .geosuggest {
          border: none;
        }
        .geosuggest__input-wrapper {
          border: none;
        }
        .geosuggest__suggests {
          border: none;
        }
        input {
          font-weight: normal;
          height: 28px;
          box-shadow: none;
          border-radius: 5px;
          color: white;
          background-color: rgba(255, 255, 255, 0.14902);
        }
      }
      .search-place-holder {
        position: absolute;
        font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
        font-size: 16px;
        color: rgba(255,255,255,0.7);
        top: 12px;
        left: 10px;

        &:before {
          margin-right:10px;
        }
      }
    }
  }
  .right-nav-bar {
    display: flex;
    align-items: center;
    .new-trip {
      margin-right: 10px;
      span {
        text-transform: none !important;
      }
    }

    a{
      font-size: 14px;
      letter-spacing: 0px;
      font-weight: 500;
      color: rgb(255, 255, 255);
      span {
        margin-right: 5px;
      }
    }
  }
}